/*
**---------------------------------------------
** these are the styles (mobile first)
**---------------------------------------------
*/

.navbarContainer {
    display: block;
}

.buttonContent {
    text-align: center;
}

.navbarContainer a {
    width: 30%;
    margin: 1rem;
}

.navbarContainer a:hover {
    background-color: #8ad52f;
}

.logoContent img {
    width: 36%;
    margin: auto;
    padding: 0.3rem;
}

/*
**---------------------------------------------
** these are the media quieries styles (mobile first)
**---------------------------------------------
*/

/* 'small devices': '400px' */
@media (min-width: 400px) {
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-size: cover;
    }

    .logoContent img {
        width: 57%;
        margin: 0%;
    }

    .navbarContainer a {
        width: auto;
        margin: 1rem;
    }
}

/* 'tablet': '640px' */
@media (min-width: 640px) {
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-size: cover;
    }

    .logoContent img {
        width: 40%;
    }
}

